.ChooseButtons {
  display: flex;
  justify-content: space-between;
}

.Password {
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-items: center;
}

.PasswordButton {
  min-width: 128px;
}

.PopularityBackground {
  box-shadow: 0 0 24px 24px rgba(255, 255, 255, 1) inset;
  transition: background-color 0.25s ease-in-out;
}
